html(lang="en")
  - var pageTitle = 'Jade'
  - var youAreUsingJade = true
  head
    title= pageTitle
    script.
       if (foo) {
         bar()
       }
  body
    h1 Jade - node template engine
    #container
      - if (youAreUsingJade)
         Vape juice are amazing
      - else
         Get on it!
         Get on it!
         Get on it!
         Get on it!
    hr
    h5: a(href='sitemap') site map
